* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f6f7f8;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    position: relative;
    display: flex;
    margin-top: 140px;
    flex-wrap: wrap;
    flex-direction: column
}

.item {
    position: relative;
    width: 50%;
    object-fit: cover;
    cursor: grab;

    &.active {
        cursor: grabbing;
    }
}
